#textbox
{
    visibility: hidden;
    position: relative;
    top:100px;
    left: 100px;
    width: 100px;
}
#toolbox
{
    width: 65px;
    background-color: #65ADAA;
    float: left;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 30px;
    border-radius: 10px;
}
#circle
{
    background-image: url('./icon_img/circle.png');
    background-color: transparent;
    width: 32px;
    height: 32px;
    border: 0px;
    margin: 16.5px;
    
}
#circle:hover
{
    background-image: url('./icon_img/smile.png');
    background-color:#9BFF4D;
    width: 32px;
    height: 32px;
    border: 0px;
    margin: 16.5px;
    border-radius: 5px;
}
#rectangle
{
    background-image: url('./icon_img/layout.png');
    background-color: transparent;
    width: 32px;
    height: 32px;
    border :0px;
    margin: 16.5px;
}
#rectangle:hover
{
    background-image: url('./icon_img/re.png');
    background-color:#4DA6FF;
    width: 32px;
    height: 32px;
    border: 0px;
    margin: 16.5px;
    border-radius: 5px;
}
#color
{
    margin: 7.5px;
}
#triangle
{
    background-image: url('./icon_img/triangle.png');
    background-color: transparent;
    width: 32px;
    height: 32px;
    border :0px;
    margin: 16.5px;
}
#triangle:hover
{
    background-image: url('./icon_img/alert.png');
    background-color:#4DFFDF;
    width: 32px;
    height: 32px;
    border: 0px;
    margin: 16.5px;
    border-radius: 5px;
}
#line
{
    background-image: url('./icon_img/slash.png');
    background-color: transparent;
    width: 32px;
    height: 32px;
    border :0px;
    margin: 16.5px;
}
#line:hover
{
    background-image: url('./icon_img/minus.png');
    background-color:#FFF44D;
    width: 32px;
    height: 32px;
    border: 0px;
    margin: 16.5px;
    border-radius: 5px;
}
#clear
{
    background-image: url('./icon_img/reset.png');
    background-color: transparent;
    width: 32px;
    height: 32px;
    border: 0px;
    border-radius: 10px;
    margin: 16.5px;
}
#clear:hover
{
    background-image: url('./icon_img/shiny.png');
    background-color: #FFBC4D;
    width: 32px;
    height: 32px;
    border: 0px;
    border-radius: 10px;
    margin: 16.5px;
}
#fill
{
    background-image: url('./icon_img/correct.png');
    background-color: transparent;
    width: 32px;
    height: 32px;
    border: 0px;
    border-radius: 10px;
    margin: 16.5px;
}
#fill:hover
{
    background-image: url('./icon_img/check.png');
    background-color:#AE4DFF;
    width: 32px;
    height: 32px;
    border: 0px;
    margin: 16.5px;
    border-radius: 5px;
}
#pen
{
    background-image: url('./icon_img/art.png');
    background-color: transparent;
    width: 32px;
    height: 32px;
    border :0px;
    margin: 16.5px;
}
#pen:hover
{
    background-image: url('./icon_img/blackart.png');
    background-color:#FF994D;
    width: 32px;
    height: 32px;
    border: 0px;
    margin: 16.5px;
    border-radius: 5px;
}
#eraser
{
    background-image: url('./icon_img/eraser.png');
    background-color: transparent;
    width: 32px;
    height: 32px;
    border: 0px;
    margin: 16.5px;
}
#eraser:hover
{
    background-image: url('./icon_img/es.png');
    background-color:#FFBC4D;
    width: 32px;
    height: 32px;
    border: 0px;
    margin: 16.5px;
    border-radius: 5px;
}
#brushsize
{
    margin-right: 5px;
    width: 150px;
}
#valueofbrush
{
    width: 40px;
    margin-right: 10px;
}
h1
{
    text-align: center;
    color: #046E75;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}
body
{
    background-color: rgb(231, 220, 170);
}
canvas
{
    background-color: white;
    border-radius: 30px;
}
#toolbox2
{
    background-color: #2C938F;
    float: left;
    margin-right:30px ;
    margin-top: 80px;
    border-radius: 10px;
    width: 65px;
}

#load:hover
{
    background-image: url('./icon_img/forward.png');
    background-color:#105F79;
    width: 32px;
    height: 32px;
    border: 0px;
    margin: 10px;
    border-radius: 5px;
}
#text
{
    background-image: url('./icon_img/text.png');
    background-color: transparent;
    width: 32px;
    height: 32px;
    border: 0px;
    margin: 16.5px;
}
#text:hover
{
    background-image: url('./icon_img/t.png');
    background-color:#FF994D;
    width: 32px;
    height: 32px;
    border: 0px;
    margin: 16.5px;
    border-radius: 5px;
}
#save
{
    background-image: url('./icon_img/save.png');
    background-color: transparent;
    width: 32px;
    height: 32px;
    border: 0px;
    margin: 16.5px;
}
#save:hover
{
    background-image: url('./icon_img/dl.png');
    background-color:#4DFFDF;
    width: 32px;
    height: 32px;
    border: 0px;
    margin: 16.5px;
    border-radius: 5px;
}
#rainbow
{
    background-image: url('./icon_img/r1.png');
    background-color: transparent;
    width: 32px;
    height: 32px;
    border: 0px;
    margin: 16.5px
}
#rainbow:hover
{
    background-image: url('./icon_img/r.png');
    background-color:#4DFFDF;
    width: 32px;
    height: 32px;
    border: 0px;
    margin: 16.5px;
    border-radius: 5px;
}
#prev
{
    background-image: url('./icon_img/return.png');
    background-color: transparent;
    width: 32px;
    height: 32px;
    border: 0px;
    margin: 16.5px;
}
#prev:hover
{
    background-image: url('./icon_img/left-arrow.png');
    background-color:#FFF44D;
    width: 32px;
    height: 32px;
    border: 0px;
    margin: 16.5px;
    border-radius: 5px;
}
#next
{
    background-image: url('./icon_img/forward.png');
    background-color: transparent;
    width: 32px;
    height: 32px;
    border: 0px;
    margin: 16.5px;
}
#next:hover
{
    background-image: url('./icon_img/right-arrow.png');
    background-color:#9BFF4D;
    width: 32px;
    height: 32px;
    border: 0px;
    margin: 16.5px;
    border-radius: 5px;
}
#font
{
    margin: 10px;
}
#fontsize
{
    margin: 10px;
    width : 35px;
}
#upload
{
    margin-bottom: 5px;
}
#size
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50px;
    margin-bottom: 5px;
    color: #046E75;
}